
deb {{ repo_link_main }} main contrib non-free
deb {{ repo_link_update }} main contrib non-free

deb {{ repo_link_base }} main contrib non-free
deb {{ repo_link_extended }} main contrib non-free
