
# Если опция включена сервер стартует в независимом от inetd/xinetd режиме "standalone mode". В этом случае он сам заботится о прослушивании и определении входящих соединений.
listen=YES

# Тоже самое что listen, за исключением того что vsftpd слушает IPv6 протокол включительно. Этот параметр и listen взаимно исключаемые.
listen_ipv6=NO

# Разрешает или запрещает вход анонимных пользователей. Если разрешено, пользователи с именами ftp и anonymous распознаются как анонимные пользователи.
anonymous_enable=YES

# Разрешает или запрещает вход для локальных пользователей. Если включено обычные пользовательские акаунты в /etc/passwd могут быть использованы для входа. 
# Должно быть включено для разрешения любых не анонимных входов, включая вход виртуальных пользователей.
local_enable=NO

# Если разрешено, при входе в каталог пользователям показывается сообщение из файла .message. 
# По умолчанию, директория сканируется на наличие сообщения в файле .message, что можно изменить задав имя другого файла параметром message_file.
dirmessage_enable=NO

# При включении, vsftpd производит листинг каталогов с отображением времени лично вашей временной зоны. 
# По умолчанию в листинге отображается GMT временная зона. Времена обновляемые MDTM командами также затрагиваются этой опцией.
use_localtime=YES

# Если включено, журнал будет включать детальные отчеты о закачках на сервер, и закачках с сервера (uploads, downloads).
xferlog_enable=NO

# Включение этой опции указывает исходящим с сервера соединениям использовать 20 порт.
connect_from_port_20=YES

# Эта опция указывает на имя пустого каталога. Также, каталог не должен быть записываемый для ftp пользователя. Этот каталог используется как безопасный chroot(), 
# когда vsftpd не нужен доступ к файловой системе.
secure_chroot_dir=/var/run/vsftpd/empty

# В этой строке можно указать имя PAM сервиса который будет использоваться для vsftpd.
pam_service_name=vsftpd

# Эта опция задает расположения RSA сертификата для использования в SSL зашифрованных соединениях.
rsa_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem

# Эта опция задает расположения личного RSA ключа для использования в SSL зашифрованных соединениях. Если эта опция не выбрана, сертификат предусматривается как личный ключ.
rsa_private_key_file=/etc/ssl/private/ssl-cert-snakeoil.key

# Если включено, и vsftpd был скомпилирован с поддержкой OpenSSL, vsftpd будет поддерживать безопасность соединения с помощью SSL. 
# Это позволяет контролировать соединения (включая входы в систему) и также передачу данных. Для этого также необходим клиент с поддержкой SSL.
ssl_enable=NO

# В этой строке указывается каталог, в который vsftp будет переводить анонимных пользователей после входа. При неудаче просто игнорируется.
anon_root=/srv/repo/alse

# Если опция установлена, vsftp не спрашивает пароль у анонимных пользователей, позволяя им подключаться сразу.
no_anon_password=YES

# Включение скрывает информацию о именах владельцев файлов и группах, при листинге отображается как "ftp".
hide_ids=YES
